.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: white;
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    h1 {
        padding: 2rem;
        font-family: 'Zen Tokyo Zoo', cursive;;
    }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: background 0.5s ease;
    img {
        width: 30%;
    }
    &:hover {
        background: rgb(224, 243, 255);
    }
}

.song-description {
    padding-left: 1rem;
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 0.85rem;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.selected {
    background: rgb(224, 243, 255);
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
    box-shadow: 2px 2px 20px gray;
}

@media screen and (max-width: 800px) {
    .library {
        width: 100%;
    }
}