nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    margin-left: 25%;
    button {
        font-family: 'Zen Tokyo Zoo', cursive;
        background: transparent;
        cursor: pointer;
        padding: 0.6rem;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        border: 1px thin;
        box-shadow: none;
        &:hover{
            background: rgb(224, 243, 255);
            color: rgb(192, 0, 240);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            border: none;
        }
        h1{
            font-size: 2rem;
        }
    }
}

@media  screen and (max-width: 800px) {
    nav {
        button {
            z-index: 10;
        }
    }
}